In [1]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\aican\anaconda3\lib\site-packages (2.0.40)
Requirement already satisfied: greenlet>=1 in c:\users\aican\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\aican\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)

In [3]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\aican\anaconda3\lib\site-packages (1.1.1)Note: you may need to restart the kernel to use updated packages.

In [5]:
import pandas as pd
import numpy as np
import pymysql
from sqlalchemy import create_engine
import getpass  # To get the password without showing the input
password = getpass.getpass()

# Note that when you use _SQLAlchemy_ and establish the connection, you do not even need to be logged in Sequel Pro or MySQL Workbench.

 ········

In [7]:
sd = "sakila"
connection_string = 'mysql+pymysql://root:' + password + '@localhost/'+sd
engine = create_engine(connection_string)
engine

Engine(mysql+pymysql://root:***@localhost/sakila)

In [9]:
from sqlalchemy import text

with engine.connect() as connection:
    query = text('SELECT * FROM actor')
    result = connection.execute(query)

result

In [13]:
row = result.first()

ResourceClosedError: This result object is closed.

In [15]:
type(row)

sqlalchemy.engine.row.Row

In [17]:
# We can loop over result.mappings(), and we'll see that we get dictionaries for each row,
# where the key in each dictionary represents the column name. This makes it easy for us to retrieve the data
# and display it in a loop.

with engine.connect() as connection:
    query = text('SELECT * FROM store')
    result = connection.execute(query)
    for row in result.mappings():
        print(row)

{'store_id': 1, 'manager_staff_id': 1, 'address_id': 1, 'last_update': datetime.datetime(2006, 2, 15, 4, 57, 12)}
{'store_id': 2, 'manager_staff_id': 2, 'address_id': 2, 'last_update': datetime.datetime(2006, 2, 15, 4, 57, 12)}

# # 1. Establish a connection between Python and the Sakila database.
# Done in Jupyter Notebook

# 2. Write a Python function called rentals_month that retrieves rental data for a given month and year (passed as parameters) from the Sakila database as a Pandas DataFrame. The function should take in three parameters:

# engine
# month
# year

In [30]:
def rentals_month(engine, month, year):
    with engine.connect() as connection:
        txt = f"""SELECT rental_id, MONTH(rental_date) AS month, YEAR(rental_date) AS year, rental_date, 
                         inventory_id, customer_id, return_date, staff_id, last_update 
                  FROM rental 
                  WHERE MONTH(rental_date) = {month} AND YEAR(rental_date) = {year} 
                  GROUP BY rental_id;"""
        
        query = text(txt)
        result = connection.execute(query)
        df = pd.DataFrame(result.all(), columns=result.keys())  
        
    return df

In [32]:
rentals_month(engine, 5, 2005)

,rental_id,month,year,rental_date,inventory_id,customer_id,return_date,staff_id,last_update
0,1,5,2005,2005-05-24 22:53:30,367,130,2005-05-26 22:04:30,1,2006-02-15 21:30:53
1,2,5,2005,2005-05-24 22:54:33,1525,459,2005-05-28 19:40:33,1,2006-02-15 21:30:53
2,3,5,2005,2005-05-24 23:03:39,1711,408,2005-06-01 22:12:39,1,2006-02-15 21:30:53
3,4,5,2005,2005-05-24 23:04:41,2452,333,2005-06-03 01:43:41,2,2006-02-15 21:30:53
4,5,5,2005,2005-05-24 23:05:21,2079,222,2005-06-02 04:33:21,1,2006-02-15 21:30:53
...,...,...,...,...,...,...,...,...,...
1151,1153,5,2005,2005-05-31 21:36:44,2725,506,2005-06-10 01:26:44,2,2006-02-15 21:30:53
1152,1154,5,2005,2005-05-31 21:42:09,2732,59,2005-06-08 16:40:09,1,2006-02-15 21:30:53
1153,1155,5,2005,2005-05-31 22:17:11,2048,251,2005-06-04 20:27:11,2,2006-02-15 21:30:53
1154,1156,5,2005,2005-05-31 22:37:34,460,106,2005-06-01 23:02:34,2,2006-02-15 21:30:53
1155,1157,5,2005,2005-05-31 22:47:45,1449,61,2005-06-02 18:01:45,1,2006-02-15 21:30:53

In [34]:
rentals_month(engine, 4, 2005)

Empty DataFrame
Columns: [rental_id, month, year, rental_date, inventory_id, customer_id, return_date, staff_id, last_update]
Index: []

### Develop a Python function called rental_count_month that takes the DataFrame provided by rentals_month as input along with the month and year and returns a new DataFrame containing the number of rentals made by each customer_id during the selected month and year.

### The function should also include the month and year as parameters and use them to name the new column according to the month and year, for example, if the input month is 05 and the year is 2005, the column name should be "rentals_05_2005".

In [42]:
def rental_count_month(df, month, year):
    df_filtered = df[(df["month"] == month) & (df["year"] == year)]

    rental_counts = df_filtered.groupby("customer_id")["rental_id"].count().reset_index()

    rental_column_name = f"rentals_{month:02d}_{year}"
    rental_counts.rename(columns={"rental_id": rental_column_name}, inplace=True)

    return rental_counts

In [44]:
# PREVIOUS ATTEMPTS BELOW.

In [38]:
def rental_count_month(df.rentals_month, month, year)




SELECT customer_id, COUNT(rental_id)
FROM rental
WHERE MONTH(rental_date) = {month} AND YEAR(rental_date) = {year} 
GROUP BY customer_id;

        return df

SyntaxError: invalid syntax (1096396603.py, line 1)

In [40]:
df.rename(
    columns={
        CASE WHEN
			{month} = "5" AND {year} = 2005 THEN
				f'''rentals_0{month}_{year}''';
    },
    inplace=True
)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (208359545.py, line 3)

### Create a Python function called compare_rentals that takes two DataFrames as input containing the number of rentals made by each customer in different months and years. The function should return a combined DataFrame with a new 'difference' column, which is the difference between the number of rentals in the two months.

In [47]:
def compare_rentals(df1, df2):

    df_combined = pd.merge(df1, df2, on="customer_id", how="outer", suffixes=("_month1", "_month2"))

    col_month1 = df_combined.columns[1]
    col_month2 = df_combined.columns[2]

    df_combined["difference"] = df_combined[col_month2] - df_combined[col_month1]

    return df_combined